@model PasswordListViewModel

@{
    ViewData["Title"] = "Home Page";
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })s
    </script>
}

<a asp-action="Index" asp-controller="Password" class="btn btn-primary">Yeni Kayıt</a>

<div>
    <table class="table table-response table-hovered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Adı</th>
            <th scope="col">Username</th>
            <th scope="col">Detay</th>
            <th>İşlemler</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var m in Model.ListPassword)
        {
            <tr>
                <th scope="row">@m.Id.Substring(0,3)</th>
                <td>@m.Loginname</td>
                <td>@m.Username</td>
                <td>@m.Detail</td>
                <td><a asp-controller="Password" asp-action="Details" asp-route-id="@m.Id" class="btn btn-info">Detaylar</a> </td>

            </tr>
        }
        </tbody>
    </table>
</div>






@*<div class="text-center">
   
    @{
        foreach (var p in Model.ListPassword)
        {
            <div class="card bg-dark shadow-sm text-white " style="width: 18rem;">
                <h4 class="card-header bg-info" ><i class="float-start fa-solid fa-database"></i> @p.Loginname</h4>
                <div class="card-body">

                    <h5 class="card-title">@p.Detail</h5>

                    <p class="card-text">@p.Category[0] - @p.Clients[0]</p>
                    <p></p>
                    <hr/>
                    <footer>
                        <a asp-action="Details" asp-controller="Password" class="btn btn-sm btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Detaylar"><i class="fa-solid fa-info"></i></a>
                        <a asp-action="Visible" asp-controller="Home" asp-route-secret="@p.Id" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{@p.Password}}" data-toggle="tooltip" data-placement="top" title="View Password"><i class="fa-solid fa-eye"></i></a>
                    </footer>
                </div>
            </div>
            <br>

        }
    }

</div>*@
