@model PasswordListViewModel

@{
    ViewData["Title"] = "Home Page";
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })s
    </script>
}
<div class="row float-end">
    <div class="float-end">
        <a asp-action="Index" asp-controller="Password" class="btn btn-primary">Yeni Kayıt</a>
    </div>
</div>
<br/>


<div class="container-fluid">
   


    <div class="row">

        @foreach (var p in Model.ListPassword)
        {
            <div class="col">

                <div class="card" style="width: 16rem;">

                    @{
                        var base64 = Convert.ToBase64String(p.imageData);
                        var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                    }

                    <img src="@imgSrc" class="card-img-top text-center justify-content-center" alt="...">

                    @*@if (@Model.Pass != "")
                {
                <h2 class="card-text text-danger text-center text-sm-center ">@Model.Pass</h2>
                }*@

                    <div class="card-body">
                        <h5 class="card-title">@p.Passwords.Loginname</h5>
                        <p class="card-text">Username = @p.Passwords.Username / @p.Passwords.Detail</p>

                        <h6 class="text-decoration-underline">Kategoriler</h6>
                        @{
                            string list = String.Empty;
                            foreach (var cat in p.Passwords.Category)
                            {
                                list = list + "," + @cat;

                            }
                            <p class="text-black-50">@list</p>
                        }
                        <h6 class="text-decoration-underline">Client</h6>
                        @{
                            string list2 = String.Empty;
                            foreach (var cat in p.Passwords.Clients)
                            {
                                list2 = list2 + "," + @cat;

                            }
                            <p class="text-dark">@list2</p>
                        }

                    </div>

                    @* <div class="card-footer">
                <a asp-controller="Password" asp-action="Details" asp-route-visible="true" class="card-link">Parola Göster</a>
                </div>*@
                </div>

            </div>
        }

    </div>
</div>




@*<div>
    <table class="table table-response table-hovered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Adı</th>
            <th scope="col">Username</th>
            <th scope="col">Detay</th>
            <th>İşlemler</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var m in Model.ListPassword)
        {
            <tr>
                <th scope="row">@m.Id.Substring(0,3)</th>
                <td>@m.Loginname</td>
                <td>@m.Username</td>
                <td>@m.Detail</td>
                <td><a asp-controller="Password" asp-action="Details" asp-route-id="@m.Id" class="btn btn-info">Detaylar</a> </td>

            </tr>
        }
        </tbody>
    </table>
</div>
*@





@*<div class="text-center">

    @{
        foreach (var p in Model.ListPassword)
        {
            <div class="card bg-dark shadow-sm text-white " style="width: 18rem;">
                <h4 class="card-header bg-info" ><i class="float-start fa-solid fa-database"></i> @p.Loginname</h4>
                <div class="card-body">

                    <h5 class="card-title">@p.Detail</h5>

                    <p class="card-text">@p.Category[0] - @p.Clients[0]</p>
                    <p></p>
                    <hr/>
                    <footer>
                        <a asp-action="Details" asp-controller="Password" class="btn btn-sm btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Detaylar"><i class="fa-solid fa-info"></i></a>
                        <a asp-action="Visible" asp-controller="Home" asp-route-secret="@p.Id" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{@p.Password}}" data-toggle="tooltip" data-placement="top" title="View Password"><i class="fa-solid fa-eye"></i></a>
                    </footer>
                </div>
            </div>
            <br>

        }
    }

</div>*@
